body
{
background-color: #1c1c1c;
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
form
{
    position: relative;
    float: left;
    left: 450px;
    background-color: #e066ff;
    margin: 40px;
    padding: auto;
    text-align: center;
    width: 230px;
    border-radius: 5px;
}
::placeholder
{
    text-align: center;
}
button
{
    position: relative;
    float: left;
    left: 220px;
    top: 170px;
    border-radius: 5px;
    background-color: #ff3030;
    width: 150px;
    margin-bottom: 20px;
    border-bottom: 5px;
}